In [48]:
import pandas as pd
import numpy as np

In [49]:
train = pd.read_csv('./datasets/train.csv')
train.Loan_Status = train.Loan_Status.map({'Y':1, 'N':  0 })
train.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [50]:
train = pd.read_csv('./datasets/train.csv')
train.Loan_Status = train.Loan_Status.map({'Y':1, 'N':  0 })
Loan_status=train.Loan_Status
train.drop('Loan_Status',axis=1,inplace=True)
test=pd.read_csv('./datasets/tests.csv')
# test= test[train.columns]
data = pd.concat([train, test], ignore_index=True)
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849,0.0,,360,1,Urban,NaN
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,NaN
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,NaN
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,NaN
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,NaN

In [51]:
data.describe()

       ApplicantIncome   CoapplicantIncome
count        981.000000          981.000000
mean        5179.795107         1601.916330
std         5695.104533         2718.772806
min            0.000000            0.000000
25%         2875.000000            0.000000
50%         3800.000000         1110.000000
75%         5516.000000         2365.000000
max        81000.000000        41667.000000

In [52]:
data.isnull().sum()

Loan_ID                 0
Gender                  0
Married                 0
Dependents              0
Education               0
Self_Employed           0
ApplicantIncome         0
CoapplicantIncome       0
LoanAmount              0
Loan_Amount_Term        0
Credit_History          0
Property_Area         367
Property_Area         614
dtype: int64

In [53]:
# data.Dependents.dtypes
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
corrmat = data.corr()
f, ax = plt.subplots(figsize=(9, 9))
sns.heatmap(corrmat, vmax=.8, square=True)

ValueError: could not convert string to float: 'LP001002 '