In [106]:
import pandas as pd
import numpy as np

In [107]:
train = pd.read_csv('./datasets/train.csv')
train.Loan_Status = train.Loan_Status.map({'Y':1, 'N':0})
train.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [108]:
Loan_status = train.Loan_Status
train.drop('Loan_Status', axis=1, inplace=True)
test = pd.read_csv('./datasets/tests.csv')
data = pd.concat([train, test], ignore_index=True)
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,...,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,,360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LP001003,Male,Yes,1,Graduate,No,4583.0,1508.0,128,360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66,360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120,360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141,360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
data.describe()

,ApplicantIncome,CoapplicantIncome,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,367.000000,367.000000,362.000000,361.000000,338.000000
mean,5403.459283,1621.245798,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,6109.041673,2926.248369,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,150.000000,0.000000,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2877.500000,0.000000,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3812.500000,1188.500000,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5795.000000,2297.250000,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,81000.000000,41667.000000,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [110]:
data.isnull().sum()

Loan_ID               367
Gender                367
Married               367
Dependents            367
Education             367
Self_Employed         367
ApplicantIncome       367
CoapplicantIncome     367
LoanAmount            367
Loan_Amount_Term      367
Credit_History        367
Property_Area         367
Loan_ID               614
Gender                625
Married               614
Dependents            624
Education             614
Self_Employed         637
ApplicantIncome       614
CoapplicantIncome     614
LoanAmount            619
Loan_Amount_Term      620
Credit_History        643
Property_Area         614
dtype: int64

In [111]:
data.Dependents.dtypes

dtype('O')

In [112]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
corrmat=data.corr()
f,ax=plt.subplots(figsize=(9,9))
sns.heatmap(corrmat,vmax=.8,square=True)

ValueError: could not convert string to float: 'LP001002 '