In [2]:
import pandas as pd
import numpy as np

In [4]:
train = pd.read_csv('./datasets/train.csv')
train.Loan_Status = train.Loan_Status.map({'Y':1, 'N':  0 })
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [19]:
train = pd.read_csv('./datasets/train.csv')
train.Loan_Status = train.Loan_Status.map({'Y':1, 'N':  0 })
Loan_status=train.Loan_Status
train.drop('Loan_Status',axis=1,inplace=True)
test=pd.read_csv('./datasets/tests.csv')
# test= test[train.columns]
data = pd.concat([train, test], ignore_index=True)
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,...,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LP001003,Male,Yes,1,Graduate,No,4583.0,1508.0,128.0,360.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN